*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 75%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background: linear-gradient(45deg,#cccccc7c 30%,#4e4e4e7c);  
    border-radius: 30px;  
}
.img{
    max-width: 60%;
    max-height: 70%;
}
img{
    width: 100%;
    height: 100%;
}
.title{
    padding: 20px 0;
}
.main button{
    padding: 5px 10px;
    background: #8d20e6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 15px ;
    cursor: pointer;
    color: #fff;
}